<div class="container">
  <a href="#/comments">revenir</a><br>
  <form ng-submit="ajoutComment()">
    <input type="text" placeholder="name" ng-model="newComment.name"><br>
    <input type="text" placeholder="id" ng-model="newComment.id"><br>
    <input type="text" placeholder="postid" ng-model="newComment.postId"><br>
    <input type="text" placeholder="email" ng-model="newComment.email"><br>
    <input type="text" placeholder="body" ng-model="newComment.body">
    <input type="submit" value="envoyer">
  </form>
</div>
