<ul class="collection">
      <li class="collection-item">nom: {{infoProfilActuel.nom}}</li>
      <li class="collection-item">prenom: {{infoProfilActuel.prenom}}</li>
      <li class="collection-item">age: {{infoProfilActuel.age}}</li>
      <li class="collection-item">naissance: {{infoProfilActuel.naissance}}</li>
      <li class="collection-item">Ville: {{infoProfilActuel.ville}}</li>
      <li class="collection-item">Biographie: {{infoProfilActuel.biographie}}</li>
</ul>
<a href="#/" class="buttonmenu">revenir Home</a>
